.aboutMe {
  width: 70%;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.aboutMeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeIcons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.iconStyle {
  width: 2rem;
  height: 2rem;
  color: blue;
}

#aboutMeHeader {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aboutMeDescription {
  text-align: center;
  font-size: 1rem;
}
