.experiences {
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 2rem;
}

.card {
  background-color: white;
  width: 100%;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
}

.experienceTitle {
  color: rgb(182, 26, 26);
  font-size: 4rem;
  font-family: Impact;
}

.experienceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.experienceName {
  font-family: Impact;
  font-size: 3rem;
  margin-bottom: 0%;
}

#cardTitle {
  margin-bottom: 0%;
}

#cardDescription {
  font-size: 1rem;
}
