.header {
  width: 70%;
  align-items: center;
  height: 50%;
  background-color: none;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.headerName {
  font-family: Impact;
  font-size: 8rem;
  width: 100%;
  text-align: center;
  color: rgb(182, 26, 26);
}

@media only screen and (max-width: 1006px) {
  .header {
    height: 48vh;
  }
}